<ion-content>
  <div class="flex-center">
    <div class="image">
      <img src="/assets/IMG_6320.JPG">
    </div>
    <ion-card class="ion-card-login">

    <ion-card-header>
      <ion-card-title>Login</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form (ngSubmit)="login()">
        <ion-input
        type="email"
        [clearInput]="true"
        label="Email"
        labelPlacement="floating"
        errorText="Invalid email"
        [(ngModel)]="email"
        name="email"
      ></ion-input>

      <br>

      <ion-input
        type="password"
        [clearInput]="true"
        label="Password"
        labelPlacement="floating"
        errorText="Invalid password"
        [(ngModel)]="password"
        name="password"
      ></ion-input>

      <br>

      <ion-button size="block" type="submit">
        Login
      </ion-button>
      </form>


    </ion-card-content>
    </ion-card>

  </div>


</ion-content>
