<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Contacts
    </ion-title>
    <ion-buttons slot="end" style="margin-right:6px;">
      <button ion-button icon-only (click)="startScan()">
        <ion-icon name="qr-code" style="zoom:2.2; color: rgb(109, 108, 107);"></ion-icon>
      </button>
    </ion-buttons>
      
  
  </ion-toolbar>
</ion-header>

<ion-content [style.visibility]="content_visibility">
  
    <!-- {{contacts | json}} -->
  <ion-list lines="full" *ngIf="contacts.length > 0">

    <ion-item *ngFor="let contact of contacts">

      <ion-label>
        {{contact.name.display}}
        <p>

          {{contact.phones[0].number}}
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>


