<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Contacts
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-list >
    <ion-item>
      <ion-label>
        Pokémon Yellow      
        <p>+7777029398</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        Mega Man X
        <p>+193409898756</p>
      </ion-label>      
    </ion-item>
    <ion-item>
      <ion-label>
        The Legend of Zelda
        <p>+904859579845</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        Pac-Man
        <p>+129989984754</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        Super Mario World
        <p>+8748359658463</p>
      </ion-label>
    </ion-item>
    
  </ion-list>
</ion-content>
