<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Contacts
    </ion-title>

      <button ion-button icon-only (click)="startScan()">
        <ion-icon  name="qr-code" ></ion-icon>
      </button>
  
  </ion-toolbar>
</ion-header>

<ion-content >
  
    <!-- {{contacts | json}} -->
  <ion-list lines="full" *ngIf="contacts.length > 0">

    <ion-item *ngFor="let contact of contacts">

      <ion-label>
        {{contact.name.display}}
        <p>

          {{contact.phones[0].number}}
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>


